#!/bin/sh
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

# PATH
export PATH=$HOME/.cargo/bin/:${PATH}

export TERMINAL=/usr/sbin/alacritty

# set cursor
xsetroot -cursor_name left_ptr

# set key repeat
xset r rate 250 70

# for sway
#export XKB_DEFAULT_LAYOUT=jp
#export XKB_DEFAULT_OPTIONS=ctrl:swapcaps

feh --bg-max /home/toshi/Dropbox/back.jpg || true

# tap to click
# synclient TapButton1=1 || true

# setup im
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
fcitx
