#!/bin/sh
#
# ~/.xinitrc
#
# Executed by startx (run your window manager from here)

# set cursor
xsetroot -cursor_name left_ptr

# set key repeat
xset r rate 250 70

# setup im
export GTK_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
fcitx
